alembic==1.9.3
bcrypt==4.0.1
fastapi==0.90.1
fastapi-mail==1.2.6
passlib==1.7.4
pre-commit==3.0.4
psycopg2-binary==2.9.5
python-dotenv==0.21.1
python-jose==3.3.0
python-multipart==0.0.5
pytz==2022.7.1
SQLAlchemy==2.0.3
uvicorn==0.20.0
